<h2 class="menu-text list <%= box.group %> ">
  <%= box.title %>
</h2>
<div class="hidden listItem">
  <div class="closebox">x</div>

  <% if (box.subtitle) { %>
  <p class="subtitle"><%= box.subtitle %> </p>
  <% } %>

  <% if (box.caption || box.keywords) { %>
  <p class="caption box-text">
    <%= box.caption || box.keywords %>
  </p>
  <% } %>

  <% if (box.src_landscape || box.src_portrait__collection) { %>
  <% if (box.src_landscape) { %>
  <div class="box-content__column">
    <img class="box-image" src="<%= box.src_landscape %> ">
    <div class="box-content__text">

      <% } else if (box.src_portrait__collection) { %>
      <%- include ('../partials/_gallery.ejs', {collection: box.src_portrait__collection})  %>


      <% } %>





      <% } else  if (box.src_portrait) {%>
      <div class="box-content__row">
        <img class="box-image__portrait" src="<%= box.src_portrait %> ">
        <div class="box-content__text__portrait">

          <% } else { %>
          <div class="box-content__text">
            <% } %>



            <% if (box.description) { %>
            <p class="description box-text">
              <%= box.description %>
            </p>
            <% } %>

            <% if (box.poem) { %>
            <p class="description box-text"></p>
            <% for( let line of box.poem) { %>

            <span>
              <%= line %>
            </span></br>
            <% } %>
            </p>
            <% } %>

            <% if (box.href) { %>
            <a target="_blank" href="<%= box.href %> "><%= box.href %></a>
            <% } %>

            <!-- agenda here -->
            <%- include ('../partials/_agenda.ejs', {box: box}) %>

            <% if (box.credits) { %>
            <p class="credits box-text">
              <%= box.credits %>
            </p>
            <% } %>
            <% if (box.footerImg_landscape) { %>
            <img class="box-image" src="<%=box.footerImg_landscape%>">
            <% } %>
          </div>

          <% if (box.src_landscape || box.src_portrait || box.src_portrait__collection) { %>
        </div>

        <% } %>


      </div>