<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lotte van Gelder</title>
  <script src="/jquery/jquery.js"></script>

  <script src="/static/bundle.js"></script>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <div class="content-box">

    <h2 class="hidden" id="z-index">1</h2>
    
    <% let index = 1 %>
    <% for (let item in db) { %>
 
      <div class="box box_<%=index  %> ">
<% if (item === "sofia") { %>

    <video muted=true autoplay=true loop=true width="250">

      <source src="<%=db[item].src%>" type="video/mp4">
    </video>

   

<% } else if (item === "scores") { %>
  <% let scores = db[item] %> 
 <h2 class="menu-text list" >
<%= scores.title %> 
 </h2>

 <% for (let entry of scores.collection)  { %> 
  <p class="listItem hidden">
  <%= entry %>   
  </p>


 <% } %> 


      <% } else { %>
  


      <h2 class="menu-text">
        <%= db[item] %>
      </h2>
      
      <% } %> 


    </div>


    <% index ++ %>



    <% } %>

  </div>





</body>

</html>