<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lotte van Gelder</title>
  <script src="/jquery/jquery.js"></script>

  <script src="/static/bundle.js"></script>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <div class="content-box">

    <h2 class="hidden" id="z-index">1</h2>

    <% let index = 1 %>
    <% for (let item in db) { %>

    <div class="box unfocused box_<%=index  %> ">
     <% if (db[item].type === "video") { %>
           <video muted=true autoplay=true loop=true width="250">

        <source src="<%=db[item].src%>" type="video/mp4">
      </video>

    <% } else if (db[item].type === "collection") { %>   
      
              
      <% let scores = db[item] %>
      <h2 class="menu-text list">
        <%= scores.title %>
      </h2>

      <% for (let entry of scores.collection)  { %>
      <p class="listItem hidden">
        <%= entry %>
      </p>


      <% } %>


    <% } else if (db[item].type === "box") { %>   
 


      <h2 class="menu-text list <%= db[item].group %> ">
        <%= db[item].title %>
      </h2>
      <div class="hidden listItem">
      <p class="caption">
        <%= db[item].caption %> 
      </p>
      <% if (db[item].src) { %> 

        <img class="box-image" src="<%= db[item].src %> ">

        <% } %> 

      </div>
      <% } %>

     

    </div>


    <% index ++ %>



    <% } %>
  </div>
  <div class="fixed menu">
  <div class="contact-box closed">
    <h2><%= db.contact.title %>  </h2> 
    <h2 class="email"> - <%= db.contact.email %>  </h2> 
  </div>
  <div class="calendar-box">
    <h2><%= db.calendar %>  </h2> 
  </div>
</div>





</body>

</html>